PORT_HTTP=8000
EMAIL_LOGIN=example@mail.com
EMAIL_PASSWORD=secret-password
EMAILS_DEV_TEAM="example1@gmail.com,example2@gmail.com"
SSL_KEYFILE=./.certs/aec-back/server_key.pem
SSL_CERTFILE=./.certs/aec-back/server_cert.pem
SSL_CA_CERTFILE=./.certs/aec-back/ca.pem
POSTGRES_PASSWORD=admin
POSTGRES_USER=admin
POSTGRES_DB=aec
POSTGRE_URL=postgresql+asyncpg://admin:admin@postgres/aec?prepared_statement_cache_size=500
JWT_SECRET=my-secret
SSL_ENABLE=False